.footer {
    margin-top: 100px;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid var(--border);
  
    p {
      opacity: 0.3;
    }
}

.copyright {
    text-align: center;
}


.newBadge {
    display: none;
    margin-left: 5px;
    padding: 2px 5px;
    color: white;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--brand);
    border-radius: 5px;
  
    @media (min-width: 480px) {
      display: inline-block;
    }
}

.betaBadge {
  display: none;
  margin-left: 5px;
  padding: 2px 5px;
  color: white;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--star);
  border-radius: 5px;

  @media (min-width: 480px) {
    display: inline-block;
  }
}

.links {
    display: grid;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  
    li {
      margin-bottom: 0;
      color: var(--textTinted);
      font-weight: 500;
    }

    a {
        color: var(--textTinted);
        transition: color 0.2s ease-out;
        
        &:hover,
        &:focus {
          color: var(--text);
        }
    }
}