@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #fff;
    --text: #000;
    --textTinted: rgba(0, 0, 0, 0.5);
    --brand: #cb56e3;
    --brandActive: #d11ad1;
    --brandTinted: #791979;
    --headerBg: rgba(255, 255, 255, 0.6);
    --border: rgba(0, 0, 0, 0.08);
    --borderActive: rgba(0, 0, 0, 0.25);
    --star: #fece02;
    --fontFamily: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
    --boxBg: #f3f3f3;
    --siteWidth: 83ch;
    --inputBg: white;
    --likeButton: rgba(0, 0, 0, 0.05);
    --likeButtonHover: rgba(0, 0, 0, 0.1);
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --secondary: #caca28;
    --accent: #e38356;
}

$linkColor: #e963f5;
  
[data-theme='dark'] {
    --bg: #161515;
    --text: #fff;
    --textTinted: rgba(255, 255, 255, 0.5);
    --headerBg: rgba(22, 21, 21, 0.6);
    --border: rgba(255, 255, 255, 0.08);
    --borderActive: rgba(255, 255, 255, 0.25);
    --boxBg: #1f1e1d;
    --star: #fef102;
    --inputBg: #292929;
    --likeButton: rgba(255, 255, 255, 0.2);
    --likeButtonHover: rgba(255, 255, 255, 0.3);
    --secondary: yellow;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

.link {
    position: relative;
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    span {
        position: relative;
        display: inline-block;
        color: $linkColor;
        &::before {
            position: absolute;
            content: attr(data-content);
            color: darken($linkColor, 10%);
            text-decoration: underline;
            text-decoration-color: darken($linkColor, 10%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            transition: clip-path 275ms ease;
        }
    }
}

.link span.dotted::before {
    text-decoration-style: dotted;
}