.header {
    width: var(--siteWidth);
    height: 9.5vh;
    position: fixed;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 4;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--headerBg);
    margin: 0 auto;
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.header li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header a {
    color: rgb(180, 180, 180);
    font-weight: 500;
    font-size: 18px;
}

.header a:hover {
    color: white;
}

.active {
    color: white !important;
    border-bottom: 2px solid var(--brandActive);
    padding-bottom: 5px;
}