.nowPlayingContainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.nowPlayingContainer a {
    color: white;
    margin-left: 5px;
}

.nowPlayingContainer svg {
    height: 4vh;
}

.song {
    display: inline-flex;
}

.notPlaying {
    margin-left: 5px;
}

.artist {
    color: var(--textTinted);
}